<nav class="site-nav">
    <div class="site-nav-left">
        <ul class="nav" role="menu">
            <li class="nav-cs" role="menuitem">
                <a href="/tag/iOS/">iOS</a>
            </li>
            <li class="nav-cs" role="menuitem">
                <a href="/tag/Swift/">Swift</a>
            </li>
            <li class="nav-cs" role="menuitem">
                <a href="/tag/Algorithm/">Algorithm</a>
            </li>
        </ul>       
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            <a class="social-link social-link-gh" href="https://github.com/gaki2745" target="_blank" rel="noopener"><img src="/assets/images/github-logo-white.png" height="21" width="50">
            </a>
        </div>
        <a class="subscribe-button" href="#subscribe">Search</a>
    </div>
</nav>
